* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

input:focus {
  outline: transparent;
}

p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: transparent;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}
