* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
}

input:focus {
  outline: transparent;
}

p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: transparent;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 414px) {
  .container {
    width: 414px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat';
  overflow-x: hidden;
}