.lib-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.no-movies-img {
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.js-movies-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.thumb {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 300ms linear;

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}

.thumb:hover,
.thumb:focus {
  box-shadow: 0 1px 4px rgba(185, 47, 44, 0.5),
    -23px 0 20px -23px rgba(185, 47, 44, 0.5),
    23px 0 20px -23px rgba(185, 47, 44, 0.5), 0 0 40px rgba(185, 47, 44, 0.5);
}

.cardimg-wrap {
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.cardtext-wrap {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding-left: 3px;

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.cardname {
  margin-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--headline-bcg-color);

  @media screen and (min-width: 1280px) {
    font-style: normal;

    font-size: 20px;
    line-height: 1.2;
  }
}

.cardinfo {
  display: flex;
  margin-top: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--description-color);

  @media screen and (min-width: 1280px) {
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
  }
}

.cardgenres {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid var(--description-color);
  color: var(--description-color);
}
