$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

.header__container {
  position: relative;

  max-width: $mobile;
  height: auto;
  padding: 14px;
  border-radius: 10px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 65.37%
    ),
    url(../images/image-mobile-1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 65.37%
      ),
      url(../images/image-mobile-2x.jpg);
  }

  //@include tablet
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    height: auto;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url(../images/image-tablet-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.67deg,
          rgba(0, 0, 0, 0.49) -2.09%,
          rgba(0, 0, 0, 0) 99.83%
        ),
        url(../images/image-tablet-2x.jpg);

      border-radius: 10px;
    }
  }

  //@include desktop
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    height: auto;
    background-image: linear-gradient(
        273.67deg,
        rgba(0, 0, 0, 0.49) -2.09%,
        rgba(0, 0, 0, 0) 99.83%
      ),
      url(../images/image-desktop-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          273.67deg,
          rgba(0, 0, 0, 0.49) -2.09%,
          rgba(0, 0, 0, 0) 99.83%
        ),
        url(../images/image-desktop-2x.jpg);

      border-radius: 15px;
    }
  }
}

.menu {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    left: 25%;
    gap: 4px;
  }
  @media screen and (min-width: $desktop) {
    left: 16.2%;
  }
}

.menu__link__home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 34px;
  padding: 10px 26px;

  background: #ffffff;
  border-radius: 100px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  color: #000000;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    width: 83px;
    height: 38px;
    padding: 12px 24px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.menu__link__library {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 34px;
  padding: 10px 22px;

  background: #ffffff;
  border-radius: 100px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #000000;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    width: 109px;
    height: 38px;
    padding: 12px 20px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.current {
  background-color: #000000;
  color: #ffffff;
}

.header__form {
  margin-top: 8px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    margin-top: 0;
    top: 14px;
  }
}

.search__form {
  position: relative;

  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;

  @media screen and (min-width: $tablet) {
    width: 165px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 187px;
  }
}

.search__form input {
  display: flex;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  border: none;
  outline: none;
  padding: 7px 7px 7px 12px;
  border-radius: 100px;

  &::placeholder {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-51%);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #000000;
  }
}

.search__form button {
  position: absolute;
  border: none;
  outline: none;
  right: 12px;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

.search__text {
  width: 155px;
  margin-left: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;

  @media screen and (min-width: $tablet) {
    width: 135px;
  }
  @media screen and (min-width: $tablet) {
    width: 155px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 280px;
  width: 190px;
  height: 38px;

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
    margin-left: 16px;
    margin-top: 50px;
    width: 233px;
    height: 47px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
    margin-top: 135px;
    margin-bottom: 18px;
    width: 190px;
    height: 38px;
  }
}

.logo__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmoteka {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  color: #ffffff;
}

.icon__film {
  width: 100%;
  height: 100%;
  margin-right: 8px;
}

#firebaseui-auth-container {
  position: absolute;
  top: -5;
  right: -5;
  z-index: 8000;
}

.sign-out {
  position: absolute;
  top: 14px;
  right: 0;
  z-index: 6000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 10px 16px;
  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;

  color: #ffffff;
  background-color: #b92f2c;
  border-radius: 100px 0 0 100px;

  transition: padding-left 300ms linear, background-color 300ms linear,
    color 300ms linear;
}

.sign-out:hover,
.sign-out:focus {
  color: #000000;
  background-color: #ffffff;
  padding-left: 20px;
}
