//------------------------------------------main styles for modal
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
.modal--visible {
  visibility: visible;
  opacity: 1;
}
.modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-width: 280px;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    min-width: 704px;
    height: auto;
    width: calc(100% - 64px);
  }

  @media screen and (min-width: 1200px) {
    min-width: 806px;
    height: auto;
  }
}

// ------------------------------------------modal close btn
.modal__btn--close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.modal__btn--close::before,
.modal__btn--close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: var(--headline-bcg-color);
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__btn--close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__btn--close:hover::before,
.modal__btn--close:hover::after {
  background-color: var(--description-color);
  height: 3px;
  transition: background-color var(--default-animation),
    height var(--default-animation);
}

//------------------------------------------shortstory-box
.shortstory {
  padding: 48px 20px 40px 20px;
  @media screen and (min-width: 768px) {
    padding: 40px 72px 64px 36px;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px 12px;
  }
}
.shortstory__body {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
  }
  @media screen and (min-width: 1200px) {
    gap: 16px;
  }
}
.shortstory__poster {
  position: relative;
  @media screen and (min-width: 768px) {
    min-width: 264px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 375px;
  }
}
.shortstory__img {
  border-radius: 5px;
}
.shortstory__info {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
.shortstory__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  color: var(--headline-bcg-color);
  text-transform: uppercase;
}
.shortstory__info--wrapper {
  display: flex;
  gap: 41px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.shortstory__info--text-color {
  color: #8c8c8c;
}

.shortstory__item--active,
.shortstory__item--disabled {
  display: inline-block;
  color: #ffffff;
  background-color: var(--description-color);
  border-radius: 5px;
  padding: 1px 4px;
}
.shortstory__item--disabled {
  color: var(--headline-bcg-color);
  background: #f7f7f7;
}
.shortstory__item--active + span {
  margin: 0 3px;
  color: #8c8c8c;
}
.shortstory__item:not(:first-child) {
  margin-top: 8px;
}

//------------------------------------------excerpt-box
.excerpt__title {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.excerpt__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-top: 8px;
}

//------------------------------------------shortstory__btn
.shortstory__btn {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    gap: 8px;
    justify-content: flex-start;
  }
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  background-color: var(--description-color);
  border: 1px solid var(--description-color);
  color: #ffffff;
  padding: 10px 12px;
  min-width: 124px;
  text-transform: uppercase;
  border-radius: 100px;
  white-space: nowrap;
}
.btn:hover,
.btn:focus {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: #ffffff;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  color: var(--description-color);
  transition: background-color var(--default-animation),
    border var(--default-animation), box-shadow var(--default-animation),
    color var(--default-animation);
}

//------------------------------------------shortstory__btn--play
.shortstory__button--play {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  @media screen and (min-width: 768px) {
    top: 40%;
  }
  @media screen and (min-width: 1200px) {
    top: 50%;
  }
}

.shortstory__button--play:hover {
  opacity: 0.8;
}

.shortstory__button--play::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;
}
