$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

/*.library__container {
  position: absolute;
}*/

.header {
  max-width: $mobile;
  //height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), 
  url(../images/image-mobile-1x.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%),
            url(../images/image-mobile-2x.jpg);
    }

        //@include tablet 
        @media screen and (min-width: $tablet) {
          max-width: $tablet;
          //height: 222px;
        background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%),
        url(../images/image-tablet-1x.jpg);
        @media (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%),
        url(../images/image-tablet-2x.jpg);

        border-radius: 10px;
        }
        }

        //@include desktop 
        @media screen and (min-width: $desktop) {
          max-width: $desktop;
          //height: 316px;
        background-image:linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), 
        url(../images/image-desktop-1x.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         background-image: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), 
         url(../images/image-desktop-2x.jpg);

         border-radius: 15px;
        }
        }
}

.menu__library {
  display: flex;
  gap: 4px;

  @media screen and (min-width: $desktop) {
    gap: 8px;
  }
    }

.menu__link__home {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 87px;
    height: 34px;
    padding: 10px 26px;
    
    background: #FFFFFF;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      width: 83px;
      height: 38px;
      padding: 12px 24px;
  }
}

.menu__link__library {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 113px;
    height: 34px;
    padding: 10px 22px;

    background: #FFFFFF;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc( 14 / 12);
    color: #000000;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
    width: 109px;
    height: 38px;
    padding: 12px 20px;
    }
    }

    .current {
      background-color: #000000;
      color: #FFFFFF;
    }

.header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  width: 190px;
  height: 38px;
  

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
    margin-left: 16px;
    margin-top: 105px;
    width: 233px;
    height: 47px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
    margin-top: 151px;
    width: 190px;
    height: 38px;
}
  }

.logo__header {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet) {
   
  }

  @media screen and (min-width: $desktop) {
     height: 75px;
}
}

.filmoteka {
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  color: #FFFFFF;
}

.icon__film {
   width: 100%;
   height: 100%;
   margin-right: 8px;
}

.library {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;

    @media screen and (min-width: $tablet) {
      //position: relative;
      //top: 50%;
      //left: 10%;
      }

  @media screen and (min-width: $desktop) {
    //position: relative;
      //top: 50%;
      //left: 10%;
  }
  
  }
  

.library__link__watched {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 87px;
    height: 34px;
    padding: 10px 26px;
    
    background: #FFFFFF;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: red;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      width: 83px;
      height: 38px;
      padding: 12px 24px;
  }
}

.library__link__queue {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 113px;
    height: 34px;
    padding: 10px 22px;

    background: #FFFFFF;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc( 14 / 12);
    color: red;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
    width: 109px;
    height: 38px;
    padding: 12px 20px;
    }
  }