
<header class="container header">
    <div class="library__container">
        
           <ul class="menu__library">
           <li class="menu__item">
           <a class="menu__link__home" href="./index.html"> home </a>
        </li>
        <li class="menu__item">
          <a class="menu__link__library current" href="./library.html"> my library </a>
        </li>
      </ul>
       
    <div class="header__logo__library">
    <a class="logo__header" href="./index.html">
      <svg class="icon__film" width="33" height="33">
        <use href="./images/icons-header.svg#icon-film"></use>
      </svg>
      <span class="filmoteka"> Filmoteka </span>
    </a>
    </div>

<div class="library-box">
    <ul class="library__range">
      <li class="library__item">
        <button class="library__link__watched" type="button">watched</button>
      <!-- <a class="library__link__watched" href="">watched</a> -->
   </li>
   <li class="library__item">
    <button class="library__link__queue" type="button">queue</button>
     <!-- <a class="library__link__queue" href="">queue</a> -->
   </li>
 </ul>
</div>

    </div>
  </header>
  <form id="search-form" style="display: none;">
    <input type="text" name="searchQuery" placeholder="Movie search">
  </form>
  <div class="hide" id="firebaseui-auth-container"></div>
  <button class="sign-out hide" type="button">Sign out</button>