<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My library</title>
    <link rel="stylesheet" href="./sass/index.scss" />
        
    <script type="module" src="./index.js"></script>
  </head>
  <body>

<header class="header">
    <div class="container library__container">
      <nav class="navigation__block">
  
           <ul class="menu__library">
           <li class="menu__item">
           <a class="menu__link__home" href=""> home </a>
        </li>
        <li class="menu__item">
          <a class="menu__link__library current" href=""> my library </a>
        </li>
      </ul>
    </nav>
    
    <div class="header__logo">
    <a class="logo__header" href="">
      <svg class="icon__film" width="33" height="33">
        <use href="./images/icons.svg#icon-film"></use>
      </svg>
      <span class="filmoteka"> Filmoteka </span>
    </a>
    </div>

    <ul class="library">
      <li class="library__item">
      <a class="library__link__watched" href="">watched</a>
   </li>
   <li class="library__item">
     <a class="library__link__queue" href="">queue</a>
   </li>
 </ul>

    </div>
  </header>
   
  </body>
</html>