<div id="player"></div>
<img src="default-thumbnail.jpg" alt="Default Thumbnail" id="thumbnail">

<script>
  // Сюди прийде ID трейлеру
  const videoId = 'VIDEO_ID';

  // This code loads the IFrame Player API code asynchronously
  const tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  const firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // This function creates an <iframe> (and YouTube player)
  // after the API code downloads.
  let player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: videoId,
      events: {
        'onError': onPlayerError
      }
    });
  }

  // This function is called when the video player encounters an error
  function onPlayerError(event) {
    // Show the default thumbnail image and hide the video player
    document.getElementById('thumbnail').style.display = 'block';
    document.getElementById('player').style.display = 'none';
  }
</script>
